---
layout: default
---

<ul class=modelList>
  {% assign sorted_models = site.pages | sort:"date" %}
  {% for model in sorted_models reversed %}
    {% if model.layout == 'model' %}
      <li class=modelList__item>
        <a href="{{ site.baseurl }}{{ model.url }}"
           class=modelList__link
           style="background-image: url({{ site.baseurl }}{{ model.url }}/../{{ model.ldrName }}.png)"
        >
          {{ model.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
